footer {
    height: var(--footer-heigth);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer a h5 {
    color: var(--text-color) !important;
}

footer a {
  text-decoration: none;
  color: var(--text-secondary-color) !important;
}

footer a:hover {
  color: var(--primary-color) !important;
}
